
{% extends "base.html.twig" %}
{% block title %}
    Bienvenue sur le meuilleur reseau d'appartements!
{% endblock %}
{% block header %}

{% endblock %}

{% block body %}
    <div class="container mt-3">
            
        <div class="jumbotron">
                <h1 class="display-3">Bienvenue sur SymBNB</h1>
                <p class="lead">Nous mettons en relation les voyageurs et les proprietaires qui veulent profiter
                d'opportinutés et gagner de l'argent en proposant leur bien à la lovcation. </p>
                <hr class="my-4">
                <p>vous etes voyageurs ? Et vous voulez voir ou vous pourrez loger pour votre prochain de placement? </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
                </p>
            </div>

            <h2>nos appartements star</h2>
    {#maison#}
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres <strong>49&euro; / nuit</strong><br/>
                            <small>pas encore noté</small>
                        </div>
                        <img src="http://placehold.it/1000x400" style="height: 200px; width: 100%;display: block">

                        <div class="card-body">
                            <h4 class="card-title">appartement de ouf</h4>
                            <p class="card-text">
                            its a very big house and wonderful space, amazing bed inlcude the last of technology
                            , omg this appat is connected with satelite. dont hesitate to contact us to have any question about it .
                            thank you!
                            </p>
                            <a href = "#" class="btn btn-secondary">En savoir plus</a>
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres <strong>49&euro; / nuit</strong><br/>
                            <small>pas encore noté</small>
                        </div>
                        <img src="http://placehold.it/1000x400" style="height: 200px; width: 100%;display: block;">

                        <div class="card-body">
                            <h4 class="card-title">appartement de ouf</h4>
                            <p class="card-text">
                            its a very big house and wonderful space, amazing bed inlcude the last of technology
                            , omg this appat is connected with satelite. dont hesitate to contact us to have any question about it .
                            thank you :)!
                            </p>
                            <a href = "#" class="btn btn-secondary">en savoir plus</a>
                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres <strong>49&euro; / nuit</strong><br/>
                            <small>pas encore noté</small>
                        </div>
                        <img src="http://placehold.it/1000x400" style="height: 200px; width: 100%;display: block;">

                        <div class="card-body">
                            <h4 class="card-title">appartement de ouf</h4>
                            <p class="card-text">
                            its a very big house and wonderful space, amazing bed inlcude the last of technology
                            , omg this appat is connected with satelite. dont hesitate to contact us to have any question about it .
                            thank you :)!
                            </p>
                            <a href = "#" class="btn btn-secondary">en savoir plus</a>
                        </div> 
                    </div>
                </div>
            
                    
            </div>
                <div class="row">
                    <div class="col">
                        <div class="card-border-secondary mb-3">
                            <div class="card-body">
                                <h4 class="card-title">Algassby Barry</h4>
                                <hr>
                                <div class="card-text">
                                    <img src="http://placehold.it/64x64" alt="avatar algassby" class="float-left mr-3">
                                    <p>c'est l'un de nos meuilleurs proprietaires</p>
                                    <a href="#" class="btn btn-success float-right">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-border-secondary mb-3">
                            <div class="card-body">
                                <h4 class="card-title">Algassby Barry</h4>
                                <hr>
                                <div class="card-text">
                                    <img src="http://placehold.it/64x64" alt="avatar algassby" class="float-left mr-3">
                                    <p>c'est l'un de nos meuilleurs proprietaires</p>
                                    <a href="#" class="btn btn-success float-right">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            
        </div>
        
                    
    </div>
 {% endblock %}