{%  extends 'base.html.twig' %}

{%  form_theme form _self %}
{% block title %}
    Création d'une annonce
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle annonce</h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Creer une annonce</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


